$primary-color: #d65502;
$primary-dark: #9a3d00;

a {
  color: $primary-color;
}

a:hover {
  color: $primary-dark;
}

h1 {
  color: $primary-color
}

.container {
  text-align: justify;
  text-justify: inter-word;
  display: flex;
}

div.left {
  margin-right:2%;
  float:left;
}

div.right {
  margin-left:2%;
  float:right;
}

img.imgRight {
  margin-left:2%;
  float:right;
}
