.nav {
  padding-bottom: auto;
  text-orientation: bottom;
}

a.a_nav {
  color: black;
}

a.a_nav:hover {
  color: #544444;
}

li.text {
  margin: 35px 1% 0px 1%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.img_nav {
  margin-right: 20%;
  width: auto; 
  height: auto;
}

li ul .nav {
  float: left;
  line-height: normal;
}

#content {
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 2%;
}

.article_date {
  font-size: 20px;
}

.flexbox_container_main {
  display: flex;
  flex-direction: row;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
  margin: auto 25%;
}

.flex_articles {
  flex: 4;
  margin-right: 1%;
}

.flex_right_side {
  flex: 1;
}

.kappa {
  margin-left: 25%;
  float: left;
  width: 700px;
  position: relative;
  padding: 15px;
  margin-bottom: 2%;
  margin-top: 2%;
}

img {
  width: 100%; 
  height: 100%;
}

.article {
  color: #e67300;
}

.article:hover {
  color: #e67300;
}

.aside {
  font-size: 18px;
  margin-bottom: 10%;
}

.xd {
  color: black;
  margin: 2% 0px;
}

.right_side {
  color: black;
  font-size: 12px;
}

.right_side:hover {
  color: black;
}

.space {
  margin-right: 50%;
}

.dx {
  float: left;
  margin-right: 5%;
}

