$primary-color: #d65502;
$primary-dark: #9a3d00;

a {
  color: $primary-color;
}

a:hover {
  color: $primary-dark;
}

h1 {
  color: $primary-color
}

h2 {
  color: $primary-dark
}

h4 {
  color: $primary-color
}

p {
  text-align: justify;
  text-justify: inter-word;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.logo {
  height: 90px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

ul.alumni {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  list-style-position: inside;
}

.padding-top{
  padding-top: 20px;
}

.card-columns {
  column-count: 2;
}

div.card.shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 40em) {
  img.logo {
    height: 60px;
  }
  ul.alumni {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .card-columns {
    column-count: 1;
  }
}
