$primary-color: #d65502;
$primary-dark: #9a3d00;

a {
  color: $primary-color;
}

a:hover {
  color: $primary-dark;
}

h1 {
  color: $primary-color
}

.container {
  text-align: justify;
  text-justify: inter-word;
  display: flex;
}

div.left {
  float:left;
  margin-right: 1%;
}

div.center {
  margin-left: 1%;
  margin-right: 1%;
}

div.right {
  float:right;
  margin-left: 1%;
}

img.imgRight {
  padding-left: 2%;
  margin-left: 2%;
}

img.imgLeft {
  padding-right: 2%;
  margin-right: 2%;
}
