<footer class="mt-5">
  <div class="container py-3">
    <div class="col-12 text-center">
      <span class="mb-0 fw-bold copyright">
        Akademickie Stowarzyszenie Informatyczne © 1999 - <%= Time.now.strftime('%Y') %>
      </span>
    </div>
  </div>
</footer>
