<div class="container">
  <div class="col-md-12 col-sm-12">
    <footer>
      <hr>
      <p class="center">
        Akademickie Stowarzyszenie Informatyczne © 1999 - <%= Time.now.strftime('%Y') %>
      </p>
    </footer>
  </div>
</div>
