<div class="container">
  <% data.members.members.each do |member| %>
    <% next unless member['type'] == type %>
    <div class="mb-3"></div>
    <div class="row vertical-align">
      <div class="col-xs-6 col-md-6">
        <% if member.img.nil? || member.img.empty? %>
          <%= image_tag 'members/unknown.jpg', class: 'img-fluid text-center rounded' %>
        <% else %>
          <%= image_tag "members/#{member.img}", class: 'img-fluid text-center rounded' %>
        <% end %>
      </div>
      <div class="col-xs-6 col-md-6">
        <p>
          <h3><%= member.name %></h3>
          <h6><%= member.function %></h6>
        </p>
      </div>
    </div>
    <div class="mb-3"></div>
  <% end %>
</div>
