<nav class="navbar navbar-expand-md navbar-light sticky-top shadow-sm bg-white">
    <div class="container">
    <a class="navbar-brand" href="/">
      <img class="logo" src="/images/asi-logo.svg" alt="Logo ASI">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
        aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 gap-2">
          <li class="nav-item">
            <a class="nav-link" href="/about">O nas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recruitment">Rekrutacja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Kalendarz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projekty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/members">Ludzie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/public/regulamin.pdf" target="_blank">Regulamin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mb-3"></div>
