<div class="container">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="logo" src="/images/asi-logo.svg" alt="Logo ASI">
      </a>
      <button class="navbar-toggler" type="button" data-bs-target="#navbar-menu" data-bs-toggle="collapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav ms-auto flex-sm-row justify-content-between">
          <li class="nav-item">
            <a class="nav-link" href="/about">O nas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recruitment">Rekrutacja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Kalendarz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projekty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/members">Ludzie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/public/regulamin.pdf" target="_blank">Regulamin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>
</div>
<div class="mb-3"></div>
