.container
  - data.members.members.each do |member|
    - if member["type"] == type
      .mb-3
      .row.vertical-align
        .col-xs-6.col-md-6
          -if member.img == nil || member.img.length == 0
            %img.img-fluid.text-center.rounded{src: "img/unknown.jpg"}
          - else
            %img.img-fluid.text-center.rounded{src: "img/members/" + member.img}
        .col-xs-6.col-md-6
          %p
            %h3= member.name
            %h6= member.function
      .mb-3
