%h1 nuttin
%iframe{:src => "https://calendar.google.com/calendar/embed?src=hlbiuv7bucei3sggbuafrdg5ok%40group.calendar.google.com&ctz=Europe%2FWarsaw",
    :style => "border: 0", :width => "650",  :height => "600",  :frameborder => "0", :scrolling => "no"}
