
%h1 Kontakt

%p
  e-mail: kontakt.asi@pwr.edu.pl
%p
  tel.: (71) 514 487 401
%p
  adres do korespondencji:
  %br
  %i
    Akademickie Stowarzyszenie Informatyczne, Politechnika Wrocławska
    %br
    ul. Wybrzeże Wyspiańskiego 27 50-370 Wrocław
%p
  Możesz również skontaktować się z nami osobiście. Nasza siedziba znajduje się przy ul. Grunwaldzkiej 61, w pok. nr 1 (wejście boczne budynku T3).
%iframe{:src=> "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.7163939615493!2d17.062328215609334!3d51.11369257957233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc28025bdb3fb%3A0x4ade31e957e7e0b!2sAkademickie+Stowarzyszenie+Informatyczne!5e0!3m2!1sen!2spl!4v1517058681224",
 :width => "600", :height => "450", :frameborder => "0", :style => "border:0", :allowfullscreen => "true"}
