
%h1 Kontakt

%p
  e-mail: kontakt.asi (oczywisty znak) pwr.edu.pl
%p
  adres do korespondencji:
  %br
  %i
    Akademickie Stowarzyszenie Informatyczne, Politechnika Wrocławska
    %br
    ul. Wybrzeże Wyspiańskiego 27, 50-370 Wrocław
%p
  Możesz również skontaktować się z nami osobiście.
  %br
    Nasza siedziba znajduje się przy ul. Grunwaldzkiej 61, w pok. nr 1 (wejście boczne budynku T3).


%iframe{
  src: 'https://www.openstreetmap.org/export/embed.html?bbox=17.0624515414238,51.112982808881526,17.066335380077366,51.1145571866162&layer=mapnik;marker=51.113962,17.064249&map=19/51.113962/17.064249',
  width: '600',
  height: '450',
  style: 'border: 0'
}

%br/
%small
  %a{ href: 'https://www.openstreetmap.org/node/2902929460?mlat=51.113962&mlon=17.064249#map=19/51.113962/17.064249' } Wyświetl większą mapę
