<h1 class="mb-4 asi-primary-text">Kontakt</h1>

<section class="mb-4">
  <p class="fw-semibold asi-primary-text mb-2">
    e-mail: <span class="asi-primary-text">kontakt.asi (oczywisty znak) pwr.edu.pl</span>
  </p>
  <p class="mb-2">
    <span class="fw-semibold">Adres do korespondencji:</span><br>
    <span class="fst-italic">
      Akademickie Stowarzyszenie Informatyczne, Politechnika Wrocławska<br>
      ul. Wybrzeże Wyspiańskiego 27, 50-370 Wrocław
    </span>
  </p>
  <p class="mb-2">
    <span class="fw-semibold">Siedziba ASI:</span><br>
    ul. Grunwaldzka 61, pok. nr 1 (wejście boczne budynku T3)
  </p>
</section>

<%= partial 'shared/osm' %>
