<h1 class="mb-4">Ludzie</h1>
<section class="mb-4">
  <p class="lead fw-semibold">
    Strona zawiera listę aktualnych aktywnych członków stowarzyszenia, wraz z ich funkcjami, kontaktem i projektami które koordynują lub koordynowali w przeszłości.
  </p>
</section>
<section class="mb-4">
  <h2 class="fw-bold asi-primary-text">Zarząd</h2>
  <p class="mb-2">
    <span class="fw-semibold">Zarząd ASI</span>, wybrany w dniu <span class="asi-primary-text fw-semibold">23.11.2022 r.</span>
  </p>
  <%= partial 'shared/member', locals: { type: 1 } %>
</section>
<section class="mb-4">
  <h2 class="fw-bold asi-primary-text">Członkowie honorowi</h2>
  <%= partial 'shared/member', locals: { type: 2 } %>
</section>
<section class="mb-4">
  <h2 class="fw-bold asi-primary-text">Członkowie</h2>
  <%= partial 'shared/member', locals: { type: 3 } %>
</section>
<section class="mb-4">
  <h2 class="fw-bold asi-primary-text">Alumni</h2>
  <p>
    <span class="fw-semibold">Każda przygoda musi kiedyś się skończyć.</span><br>
    To samo tyczy się studiów, a co za tym idzie uczestnictwa w życiu naszej organizacji.<br>
    Poniżej wypisane są osoby, które w trakcie długich lat działania Akademickiego Stowarzyszenia Informatycznego udzielały się w naszej organizacji.
  </p>
  <ul class="alumni mb-4">
    <% data.members.members.each do |member| %>
      <% next unless member['type'] == 4 %>
      <li class="fw-semibold"><%= member.name %></li>
    <% end %>
  </ul>
</section>
