.container
  .row
    .col-md-12  
      %ul.nav.nav-pills
        %li
        %li.img_nav
          %a{:href=> "/"}
            %img{:src=>"/css/logo.png" }
        %li.text
          %a.a_nav{:href => "about"} O nas
        %li.text
          %a.a_nav{:href => "#"} Rekrutacja
        %li.text
          %a.a_nav{:href => "/events"} Kalendarz
        %li.text
          %a.a_nav{:href => "#"} Projekty
        %li.text
          %a.a_nav{:href => "#"} Ludzie
        %li.text
          %a.a_nav{:href => "/contact"} Kontakt
