.container
  %nav.navbar.navbar-expand-md.navbar-light
    %button.navbar-toggler{type: "toggle", "data-target":"#navbar-menu", "data-toggle":"collapse", "aria-expanded":"false", "aria-label": "Toggle navigation"}
      %span.navbar-toggler-icon
    %a.navbar-brand{:href=> "/"}
      %img{src: "/css/logo.png" }
    .collapse.navbar-collapse#navbar-menu
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{href: "/about"} O nas
        %li.nav-item
          %a.nav-link{href: "#"} Rekrutacja
        %li.nav-item
          %a.nav-link{href: "/events"} Kalendarz
        %li.nav-item
          %a.nav-link{href: "#"} Projekty
        %li.nav-item
          %a.nav-link{href: "#"} Ludzie
        %li.nav-item
          %a.nav-link{href: "/contact"} Kontakt
