
.container
  %nav.navbar
    %a.navbar-brand
      %img{ src: "/css/logo.png" }
    %ul.nav.justify-content-end
      %li.nav-item.active
        %a.nav-link{ href:'/about' }O nas
      %li.nav-item
        %a.nav-link{ href:'#' } Rekrutacja
      %li.nav-item
        %a.nav-link{ href:'/events' } Kalendarz
      %li.nav-item
        %a.nav-link{ href:'#' } Projekty
      %li.nav-item
        %a.nav-link{ href:'#' } Ludzie
      %li.nav-item
        %a.nav-link{ href:'/contact' } Kontakt
