.container
  %nav.navbar.navbar-expand
    %a.navbar-brand{:href=> "/"}
      %img{src: "/css/logo.png" }
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{href: "/about"} O nas
      %li.nav-item
        %a.nav-link{href: "#"} Rekrutacja
      %li.nav-item
        %a.nav-link{href: "/events"} Kalendarz
      %li.nav-item
        %a.nav-link{href: "#"} Projekty
      %li.nav-item
        %a.nav-link{href: "#"} Ludzie
      %li.nav-item
        %a.nav-link{href: "/contact"} Kontakt
