.container
  %nav.navbar.navbar-expand-md.navbar-light
    %div.container
      %a.navbar-brand{href: '/'}
        %img.logo{src: '/css/asi-logo.svg'}
      %button.navbar-toggler{type: 'button', "data-bs-target": '#navbar-menu', "data-bs-toggle": 'collapse', "aria-expanded": 'false', "aria-label": 'Toggle navigation'}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar-menu
        %ul.navbar-nav.ms-auto.flex-sm-row.justify-content-between
          %li.nav-item
            %a.nav-link{href: '/about'} O nas
          %li.nav-item
            %a.nav-link{href: '/recruitment'} Rekrutacja
          %li.nav-item
            %a.nav-link{href: '/events'} Kalendarz
          %li.nav-item
            %a.nav-link{href: '/projects'} Projekty
          %li.nav-item
            %a.nav-link{href: '/members'} Ludzie
          %li.nav-item
            %a.nav-link{href: '/regulamin.pdf', target: '_blank'} Regulamin
          %li.nav-item
            %a.nav-link{href: '/contact'} Kontakt
  %hr
.mb-3
