.container
  %nav.navbar.navbar-expand-md.navbar-light
    %a.navbar-brand{:href=> "/"}
      %img.logo{src: "/css/asi-logo.svg"}
    %button.navbar-toggler{type: "toggle", "data-target":"#navbar-menu", "data-toggle":"collapse", "aria-expanded":"false", "aria-label": "Toggle navigation"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-menu
      %ul.navbar-nav.ml-auto.flex-sm-row.justify-content-between
        %li.nav-item
          %a.nav-link{href: "/about"} O nas
        %li.nav-item
          %a.nav-link{href: "/recruitment"} Rekrutacja
        %li.nav-item
          %a.nav-link{href: "/events"} Kalendarz
        %li.nav-item
          %a.nav-link{href: "#"} Projekty
        %li.nav-item
          %a.nav-link{href: "/members"} Ludzie
        %li.nav-item
          %a.nav-link{href: "/contact"} Kontakt
%img{class: "center", src: "/css/line.png", height: 1 }
.mb-3
