<div id="content">
  <h1>Aktualne projekty</h1>
  <p>
    Poniżej znajduje się lista projektów realizowanych obecnie w ramach działalności ASI.
  </p>
  <div class="card-columns">
    <%= partial 'shared/project_template', locals: { type: 1 } %>
  </div>
  <hr>
  <h1>Archiwum projektów</h1>
  <p>
    Tu przedstawiamy niektóre z projektów, które Akademickie Stowarzyszenie Informatyczne realizowało w ostatnich latach.
  </p>
  <div class="card-columns">
    <%= partial 'shared/project_template', locals: { type: 2 } %>
  </div>
</div>
