#content
  %h1 Aktualne projekty
  %p
    Poniżej znajduje się lista projektów realizowanych obecnie w ramach działalności ASI.

  .card-columns
    = partial 'partials/project_template', locals: { type: 1 }

  %hr

  %h1 Archiwum projektów
  %p
    Tu przedstawiamy niektóre z projektów, które Akademickie Stowarzyszenie Informatyczne realizowało w ostatnich latach.

  .card-columns
    = partial 'partials/project_template', locals: { type: 2 }
