<h1>Rekrutacja</h1>
<p>
  <strong>Akademickie Stowarzyszenie Informatyczne rekrutuje cały rok.</strong>
</p>
<p>
  <strong>Szukamy ludzi interesujących się informatyką oraz dziedzinami pokrewnymi (również grafików!).</strong>
</p>
<div class="row">
  <div class="col-md-7">
    <p>
      Aby do nas dołączyć nie trzeba wiele – wystarczy udzielać się w życiu organizacji.
      Na początek <strong>zapraszamy na nasze spotkania</strong> (wt. godz. 18.00 ul. Grunwaldzka 61, pok. nr 1).
      Dopilnujemy, żebyś znalazł coś dla siebie.
      Twoja aktywność w organizacji będzie dla nas najlepszym powodem do przydzielenia Ci oficjalnego członkostwa.
    </p>
    <p>
      Jeżeli nie pasują Ci terminy naszych spotkań – nic straconego!
      W naszej siedzibie w ciągu roku akademickiego (głównie wieczorami) naszych członków można spotkać nie tylko we wtorki, ale również w inne dni tygodnia.
      Wystarczy zadzwonić na nasz numer (podany na stronie) – jeżeli ktoś z organizacji znajduje się w siedzibie, na pewno odbierze.
      W takim wypadku wystarczy przyjść, przywitać się i rozpocząć swoją przygodę z ASI!
    </p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'join-us/poster.jpg', class: 'img-fluid text-cente' %>
  </div>
</div>
