%head
  %link{:rel => :stylesheet, :type => :"text/css", :href => "css/style.css.scss"}

%body
  %h1 Rekrutacja

  %p
    %strong Akademickie Stowarzyszenie Informatyczne rekrutuje cały rok. Szukamy ludzi interesujących się informatyką oraz dziedzinami pokrewnymi (również grafików!).

  .container
    .left
      %p
        Aby do nas dołączyć nie trzeba wiele – wystarczy udzielać się w życiu organizacji. Na początek
        %strong zapraszamy na nasze spotkania
        (wt. godz. 18.00 ul. Grunwaldzka 61, pok. nr 1). Dopilnujemy, żebyś znalazł coś dla siebie. Twoja aktywność w organizacji będzie dla nas najlepszym powodem do przydzielenia Ci oficjalnego członkostwa.
      %p
        Jeżeli nie pasują Ci terminy naszych spotkań – nic straconego! W naszej siedzibie w ciągu roku akademickiego (głównie wieczorami) naszych członków można spotkać nie tylko we wtorki, ale również w inne dni tygodnia. Wystarczy zadzwonić na nasz numer (podany na stronie) – jeżeli ktoś z organizacji znajduje się w siedzibie, na pewno odbierze. W takim wypadku wystarczy przyjść, przywitać się i rozpocząć swoją przygodę z ASI!

    .right
      %p
        %img{src: "/img/poster.jpg"}
